@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue:#224c89;
  --green:green;
  --white:#fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Inter', sans-serif;
  line-height: 2;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-blue{
  background-color: var(--blue);
}


footer{
  color: #fff;
}
.main-footer {
  background-color: #222222;
  padding: 5rem 0;
}

.footer-social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.75rem;
}
.footer-social-icon {
  height: 1.5rem!important;
  width: 1.5rem!important;
  font-size: 0.8rem;
  background-color: #fff;
  color: #fff!important;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.icn-facebook {
  background-color: #1778f2;
}
.icn-twitter {
  background-color: #1DA1F2;
}
.icn-linkedin {
  background-color: #0072b1;
}
.icn-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: -webkit-linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.icn-youtube {
  background-color: #c4302b;
}